---
    import Navbar from '../components/Navbar.svelte';
	import Footer from '../components/Footer.svelte';
	import GoogleAnalytics from '../components/GoogleAnalytics.astro';

    const title = "About | Amine Amellouk"
---

<!doctype html>

<html lang="en" data-theme="retro">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		
		<link rel="stylesheet" href={Astro.resolve("../assets/global.css")}>

		<meta name="descrtion" content="I've started this blog to reignite a passion I had stopped doing since many years and one that I've really enjoyed. As a Software Developer, learning is part of the job, while we might retain that knowledge by heart, engineers are problem solvers that understand their craft. Thus as a good practice is blogging and writing documentation about what we've learned which is not just an act of sharing and helping others, actually it's highly recommended we do so as many of us got stuck later on the simelar issues and had to research again resulting in wasted time that could be spent updating what we've already done before and thus becoming effecient with our work">
	</head>

	<body class="flex flex-col h-screen justify-between">
		<Navbar />
		
		<main class="container mx-auto px-4 max-w-xl mb-auto">
			<div class="bordered px-2 space-y-10 my-10" itemscope itemtype="https://schema.org/Person">
				<h2 class="text-cyan-600 text-2xl flex p-2">
					<span class="mx-auto">
						<span>About </span>
						<span itemprop="name">Amine Amellouk</span>
					</span>
				</h2>
				<div class="float-right">
					<img class="w-60 h-60 p-2" src="/assets/avatar.jpg" alt="Photo of Amine Amellouk" />
					<div class="flex space-x-2 p-2 justify-center">
						<a href="https://www.amineamellouk.com" aria-label="portfolio" itemprop="url">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
								/>
							</svg>
						</a>
						<a href="https://linkedin.com/in/amine-amellouk" aria-label="linkedin" itemprop="sameAs">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 5 1036 990"
								class="h-5 w-5"
								stroke="currentColor"
								>
								<path
									d="M0 120c0-33.334 11.667-60.834 35-82.5C58.333 15.833 88.667 5 126 5c36.667 0 66.333 10.666 89 32 23.333 22 35 50.666 35 86 0 32-11.333 58.666-34 80-23.333 22-54 33-92 33h-1c-36.667 0-66.333-11-89-33S0 153.333 0 120zm13 875V327h222v668H13zm345 0h222V622c0-23.334 2.667-41.334 8-54 9.333-22.667 23.5-41.834 42.5-57.5 19-15.667 42.833-23.5 71.5-23.5 74.667 0 112 50.333 112 151v357h222V612c0-98.667-23.333-173.5-70-224.5S857.667 311 781 311c-86 0-153 37-201 111v2h-1l1-2v-95H358c1.333 21.333 2 87.666 2 199 0 111.333-.667 267.666-2 469z"
								/>
							</svg>
						</a>
						<a href="mailto:amine.amellouk@outlook.com" aria-label="email" itemprop="email">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-6 w-6"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
								/>
							</svg>
						</a>
					</div>
				</div>
				<p itemprop="description">
					I'm a Software Developer who studied coding and economics. <br> <br>
					I've started this blog to reignite a passion I had stopped doing since many years and one that I've really enjoyed. As a Software Developer, learning is part of the job, while we might retain that knowledge by heart, engineers are problem solvers that understand their craft. Thus as a good practice is bloging and writing documentation about what we have learned, it's not just an act of sharing and helping others, but also a highly recommended act we do as many of us got stuck later on the same issues and had to research again resulting in wasted time that could be spent updating what we've already done before and thus becoming effecient with our work!
					<!-- Blogging is a sort of journaling and sharing knoweldge, documentation and also tutorials included
					to give back to the tech community that was and still open and helpful in giving a hand, teaching
					and mentoring people getting into this industry. <br />
					Journaling about my learnings this blog is not just a tech blog and is diversified with a software
					engineering focus. <br />
					Passion for how things work and knoweldge for the whole process, the whole picture looking at it
					from a bird's eye's view is what arises my excitement towards this science. <br />
					None is perfect, I've been once focused towards knowing it all, but as they say: those who know
					it all, know nothing. Looking at my title you have an idea where I've drifted, yet early on as
					a clueless engineer I craved for learning about the whole process from building, shipping and mainting
					solutions; and as I became more competent and aware clearly about my career, with a fond of how
					things works in the background meaning the infrastructure it resonates with me broading my knowledge
					and skills as a Back-End and DevOps engineer as an amazing path to undergo according to my passion,
					vision and interests. <br />
					Even if I'm labeling myself as a Back-End engineer, I consider knowledge in other fields as equally
					important, as an economics major I've gained knowledge and skills that are hopeful for this industry,
					yet the best skill to learn is the skill of how to learn considering that schools and mentors would
					only teach you enough and there's always room to grow and become better as long as you understand
					that you would never become perfect. And oh, I'm also a nerd! I play video games, I love languages
					(spoken ones as well as computer's), history, philosphy, psychology and more hopefully with the
					excitement to discover! <br />
					I thank you for reading, hope to be useful and to connect with each other to learn software engineering
					while also exploring other interests and endeavors! -->
				</p>
			</div>
		</main>

		<Footer />

		<GoogleAnalytics />
	</body>

</html>